$textLight: #ddd;
$textDark: #444;
$textDarkAccent: #482848;

$b0: #f3e5f5;
$b1: #e1bee7;
$b2: #ce93d8;
$b3: #ba68c8;
$b4: #ab47bc;
$b5: #9c27b0;
$b6: #8e24aa;
$b7: #7b1fa2;
$b8: #6a1b9a;
$b9: #4a148c;

$leftNavBg: #D2BDD6;
$leftNavFg: #482848;

$contentBg: #E9DBEB;

$cardBg: #fcf7fc;
$cardBgAlt: #f6ecf8;
$cardBorder: #C3A1C9;
$cardHeaderBg: #f6ecf8;
