$textLight: #ddd;
$textDark: #444;
$textDarkDisabled: #777;
$textDarkAccent: #482848;

$b0: #f3e5f5;
$b1: #e1bee7;
$b2: #ce93d8;
$b3: #ba68c8;
$b4: #ab47bc;
$b5: #9c27b0;
$b6: #8e24aa;
$b7: #7b1fa2;
$b8: #6a1b9a;
$b9: #4a148c;

$leftNavBg: #D2BDD6;
$leftNavFg: #482848;

$contentBg: #E9DBEB;

$cardBg: #fcf7fc;
$cardBgAlt: #f6ecf8;
$cardBorder: #C3A1C9;
$cardHeaderBg: lighten($b1, 10%);

// Bootstrap overrides

// Default button
$btn-default-color: #482848;
$btn-default-bg: lighten($b2, 20%);
$btn-default-border: lighten($b2, 10%);

// Primary button
$btn-primary-color: #f3e5f5;
$btn-primary-bg: #ab47bc;
$btn-primary-border: darken(#ab47bc, 10%);

// Change appearance of tabs
$nav-tabs-active-link-hover-border-color: $cardBorder;
$nav-tabs-active-link-hover-bg: $cardBg;
$nav-link-hover-bg: #f6ecf8;

$dropdown-link-active-color: $textDarkAccent;
$dropdown-link-active-bg: $b1;
