@import '../defines/base';

.filter-params {
  background-color: lighten($b1, 5%);

  > header {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: $b2;
    color: $textDarkAccent;

    > .separator {
      flex: 2;
    }

    > .search {
      flex: 1;
      background-color: lighten($b1, 5%);
      border-color: desaturate($b4, 30%);
      color: black;
      padding: 2px 8px;
      height: 28px;
      &::-webkit-input-placeholder {
        color: desaturate($b3, 30%);
      }
    }
  }

  > .term-list {
    > .filter-term {
      margin: 4px;
      display: flex;

      .dropdown-toggle {
        min-width: 12em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 8px;
      }

      > .match-text {
        padding: 4px 8px;
        height: 32px;
      }

      > .types {
        white-space: nowrap;
        display: flex;
        flex-wrap: wrap;
        > .checkbox {
          margin: 4px 1em 4px 0;
        }
      }

      > .states {
        columns: 4;
        > .checkbox {
          margin: 4px 1em 4px 0;
        }
      }

      > .flex {
        flex: 4;
      }

      > .remove {
        border: none;
        background: none;
        opacity: 0.5;
        outline: none;
        &:hover {
          opacity: 1;
        }
        > .svg-icon {
          > svg {
            width: 16;
            height: 16;
          }
        }
      }
    }
  }
}
