@import '../defines/base';

.kdt.issue-details {
  flex: 1;
  display: flex;
  align-items: stretch;

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    header {
      display: flex;
      align-items: center;
      padding: 6px;
      min-height: 36px;

      > .title {
        display: flex;
        font-size: 120%;
        > .issue-id, > .issue-summary {
          margin-left: 8px;
        }
      }

      > .issue-up {
        align-self: stretch;
      }

      > .divider {
        flex: 1;
      }

      > .issue-actions, .issue-nav {
        margin-left: 6px;
        display: flex;
        align-items: stretch;
        align-self: stretch;
      }

      > .issue-type {
        display: inline-block;
        background-color: #faf;
        padding: 2px 8px;
        border-radius: 3px;
        margin-left: 8px;
      }
    }

    > .content {
      padding-right: 8px;
      overflow-y: auto;
    }

    .create-issue-table {
      width: 100%;
      td {
        line-height: 1.4em;
      }
      th {
        line-height: 1.5em;
      }
      th.labels {
        line-height: 1.5em;
      }
      th.linked {
        line-height: 2.4em;
      }
    }

    .user-name {
      display: block;
      .full {
        font-weight: bold;
      }
    }

    .label-name {
      display: inline-block;
      line-height: 1.3em;
      margin: 4px 4px 4px 0;
    }

    .unassigned {
      font-style: italic;
      color: $textDarkDisabled;
    }

    .field-change-list {
      li {
        margin: 0;
        line-height: 1.1em;
      }
      .user-name {
        display: inline-block;
      }
    }
  }
}
