@import '../defines/base';

.kdt.issue-details {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;

    header {
      display: flex;
      align-items: center;
      padding: 6px;
      white-space: nowrap;

      > .issue-up {
        align-self: stretch;
      }

      > .issue-id {
        font-size: 120%;
        margin-left: 8px;
      }

      > .summary {
        font-size: 120%;
        overflow-x: hidden;
        margin-left: 8px;
        text-overflow: ellipsis;
      }

      > .stretch {
        flex: 1;
        > .issue-type {
          display: inline-block;
          background-color: #faf;
          padding: 2px 8px;
          border-radius: 3px;
          margin-left: 8px;
        }
      }

      > .issue-actions, .issue-nav {
        margin-left: 6px;
        display: flex;
        align-items: stretch;
        align-self: stretch;
      }
    }

    > .content {
      padding-right: 8px;
      overflow-y: auto;
      flex: 1;
    }

    .create-issue-table {
      width: 100%;
      td {
        line-height: 1.4em;
      }
      th {
        line-height: 1.5em;
      }
      th.labels {
        line-height: 1.5em;
      }
      th.linked {
        line-height: 2.4em;
      }
      th.history {
        line-height: 2.5em;
      }
    }

    .user-name {
      display: block;
      .full {
        font-weight: bold;
      }
    }

    .label-name {
      display: inline-block;
      line-height: 1.3em;
      margin: 4px 4px 4px 0;
    }

    .unassigned {
      font-style: italic;
      color: $textDarkDisabled;
    }

    .field-change-list {
      .user-name {
        display: inline-block;
      }
    }
  }
}
