@import '../defines/base';

.kdt.issue-details {
  flex: 1;
  display: flex;
  align-items: stretch;

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    header {
      display: flex;
      align-items: center;
      font-size: 110%;
      padding: 6px;

      > .issue-up {
        align-self: stretch;
      }

      > .issue-id, > .issue-summary {
        margin-left: 8px;
      }

      > .divider {
        flex: 1;
      }

      > .issue-actions, .issue-nav {
        margin-left: 6px;
        display: flex;
        align-items: stretch;
        align-self: stretch;
      }

      > .issue-type {
        display: inline-block;
        background-color: #faf;
        padding: 2px 8px;
        border-radius: 3px;
        margin-left: 8px;
      }
    }

    .create-issue-table {
      td {
        line-height: 1.9em;
      }
    }

    .user-name {
      display: block;
      .full {
        font-weight: bold;
      }
    }

    .label-name {
      display: inline-block;
      line-height: 1.3em;
      margin: 4px 4px 4px 0;
    }

    .unassigned {
      font-style: italic;
      color: $textDarkDisabled;
    }
  }
}
