@import '../defines/base.scss';

.project-card {
  padding: 12px;

  > .project-info {
    display: flex;

    > .project-link {
      font-weight: bold;
      text-decoration: none;
      color: $b5;
      width: 30%;
    }

    > .project-owner {
      flex: 1;
    }
  }
}
